<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">LMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="sidenav">
  <a href="/dashboard">Dashboard ></a>
  <a href="/books">Books ></a>
  <a href="/ebooks">Ebooks ></a>
  <a href="/users">Users ></a>
  <a href="/issues">Issue/Return ></a>
  <a href="/others">Others ></a>
</div>

<div class="main">
<router-outlet></router-outlet>
</div>