<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Books Count</th>
            <th>Users Count</th>
            <th>EBooks Count</th>
            <th>Issues Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{BooksCount}}</td>
            <td>{{UsersCount}}</td>
            <td>{{EBooksCount}}</td>
            <td>{{IssuesCount}}</td>
        </tr>
    </tbody>
</table> -->
<div class="container">
    <div class="row">
        <div class="col divbg">
            <h2>Books</h2>
            <h4>{{BooksCount}}</h4>
        </div>
        <div class="col divbg">
            <h2>EBooks</h2>
            <h4>{{EBooksCount}}</h4>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <br>
            <br>
        </div>
        <div class="col">
            <br>
            <br>
        </div>
        <div class="w-100"></div>
        <div class="col divbg">
            <h2>Users</h2>
            <h4>{{UsersCount}}</h4>
        </div>

        <div class="col divbg">
            <h2>Issues</h2>
            <h4>{{IssuesCount}}</h4>
        </div>
    </div>
</div>